In [1]:
# list
nums = [1,2,4]
nums

[1, 2, 4]

In [5]:
# 関数の作成
def my_func(in_value):
    out_value = in_value * 10
    return out_value

my_func(in_value=10)

100

In [6]:
import numpy as np
import pandas as pd

array_1 = np.array([1, 2])
array_1

array([1, 2])

In [7]:
array_1 + 1

array([2, 3])

In [10]:
# pandasのDataFrame
df_1 = pd.DataFrame({
    'column1': [1, 2, 3],
    'column2':[4, 5, 6]
})

df_1.index = ['row1', 'row2', 'row3']
print(df_1)

      column1  column2
row1        1        4
row2        2        5
row3        3        6

In [13]:
# pandasのSeries
series_1 = pd.Series([7, 8])
series_1.index = ['idx1', 'idx2']
series_1

idx1    7
idx2    8
dtype: int64

In [14]:
# DataFrameからの取り出し
series_2 = df_1['column1']
series_2

row1    1
row2    2
row3    3
Name: column1, dtype: int64

In [15]:
print(df_1 + 2)

      column1  column2
row1        3        6
row2        4        7
row3        5        8

In [16]:
print(df_1.add(1))

      column1  column2
row1        2        5
row2        3        6
row3        4        7

In [17]:
print(df_1.sub(1))

      column1  column2
row1        0        3
row2        1        4
row3        2        5

In [19]:
print(df_1.mul(10))

      column1  column2
row1       10       40
row2       20       50
row3       30       60

In [21]:
print(df_1.div(10))

      column1  column2
row1      0.1      0.4
row2      0.2      0.5
row3      0.3      0.6

In [22]:
print(df_1.max())

column1    3
column2    6
dtype: int64

In [23]:
df_1.max(axis=1)

row1    4
row2    5
row3    6
dtype: int64

In [24]:
np.log2(4)

2.0

In [25]:
print(df_1.apply(np.log2))

       column1   column2
row1  0.000000  2.000000
row2  1.000000  2.321928
row3  1.584963  2.584963

In [28]:
print(df_1.apply(np.sum,axis=0))

column1     6
column2    15
dtype: int64

In [29]:
print(df_1.apply(np.sum,axis=1))

row1    5
row2    7
row3    9
dtype: int64

In [30]:
df_1.sum(axis=1)

row1    5
row2    7
row3    9
dtype: int64